<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="/" class="logo-text">Luxin</a>
        </nav>
    </header>

    <div id="div-select">
        <div>
            <select class="selection" name="assess" id="asselection"> 
                <option value="0">Select Assessment Area</option>
                <option value="2">General Knowledge</option>
                </select>

        </div>
        

        <button class="btn-start" id="start">Start Quiz</button>

    </div>

</body>
</html>