<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="/" class="logo-text">Luxin</a>
            <a href="/" class="fa fa-user-circle ico-login"></a>
        </nav>
    </header>

    <div id="div-quiz">
        <span class="number"> 2 / 10</span> 
        <span class="timer">00:23</span>
        <hr width="100%"/>

        <div>
            Who invented AC?
        </div>
        <div class="div-answer-option">
            Nikola Tesla
        </div>
        <div class="div-answer-option">
            Albert Einstein
        </div>
        <div class="div-answer-option">
            all the repurcussions of existed must one day make themselves known to all the people of the world
        </div>
        <hr width="100%"/>
        <div>
            <button class="btn-action">Skip</button>
            <button class="btn-action">Next</button>

        </div>
    </div>

</body>
</html>