nav{
    height: 2.6rem;
    background-color: orangered;
    color: white;
    width: 100%;
}
body{
    margin: 0rem;
    background-color: #ec6f0b;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23fbfbfb' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

a, .logo-text{
    text-decoration: none;
    color: white;
}

.logo-text{
    font-size: 1.8rem;
    margin-left: 3.2em;
}

select{
    width: 16rem;
    background-color: orangered;
    color: white;
    padding: 0.315rem;
    font-size: 1rem;


}

#div-select, #div-quiz{
    width: fit-content;
    border: 0.1rem solid orangered;
    border-radius: 0.5rem;
    margin: 8rem auto;
    text-align: center;
    padding: 1.25rem;
    background-color: rgba(247, 247, 247,0.7);  
}

#div-quiz{
    /* larger screens handled by media query **/
    width: 17.5rem;
    background-color: rgba(247, 247, 247,0.9);
    font-size: 1.25rem;
    display: table;
    
}
.btn-start{
    padding: 0.5rem;
    color: white;
    background-color: orangered;
    border-radius: 0.5rem;
    margin: 1.8rem;
    width: 8rem;
    border-style: none;
    font-size: 1rem;
    vertical-align: center;
}

.ico-login{
    margin: 0.3rem 2rem;
    float: right;
    font-size: 2rem;
}
hr{
    color: orangered;
    background-color: orangered;
}

.number{
    float: left;
    margin-left: 0.4rem;
    font-weight: bold;
    color: orangered;
}
.timer{
    float: right;
    margin-right: 0.4rem;
    font-weight: bold;
    color: orangered;

}
.div-answer-option{
    width: 90%;
    background-color: thistle;
    height: auto;
    margin:0.5rem 0.5rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
}

.div-answer-option:hover, .div-answer-option::selection{
    background-color: orangered;
    color: white;
    cursor: pointer;
}

.btn-action{
    padding: 0.4rem 1.8rem;
    background-color: orangered;
    color: white;
    border-radius: 0.4rem;
    float: right;
    margin: 0.2rem;
    border-style: solid;
    border-color:orangered;
}

@media only screen and (min-width: 600px){
    #div-quiz{
        width: 31.25rem;
    }
}